nav{
    background-color: #28A745; 
    font-family: "Roboto", sans-serif;
}
.img-productos{
    width: 278px;
    height: 180px;
}
.img-footer{
    width: 82px;
    height: 24px;
}
form{
    background-color: #28A745;
    font-family: "Roboto", sans-serif;
}
.precios{
    display: flex;
    justify-content: end;
}